<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <!--  CONFIG   -->
    <bean id="hibernateUtil" class="com.core.config.HibernateUtil"/>
    <bean id="liquibaseConfig" class="com.core.config.LiquibaseConfig"/>

    <!--  DAO  -->
    <bean id="minerDAO" class="com.core.DAO.DAOImpl.MinerDAO">
        <constructor-arg ref="hibernateUtil"/>
    </bean>

    <bean id="minerGroupDAO" class="com.core.DAO.DAOImpl.MinerGroupDAO">
        <constructor-arg ref="hibernateUtil"/>
    </bean>

    <bean id="stockDAO" class="com.core.DAO.DAOImpl.StockDAO">
        <constructor-arg ref="hibernateUtil"/>
    </bean>

    <bean id="orderDAO" class="com.core.DAO.DAOImpl.OrderDAO">
        <constructor-arg ref="hibernateUtil"/>
    </bean>

    <!--  SERVICE  -->

    <bean id="minerService" class="com.core.service.ServiceImpl.MinerServiceImpl">
        <constructor-arg ref="minerDAO"/>
    </bean>

    <bean id="minerGroupService" class="com.core.service.ServiceImpl.MinerGroupServiceImpl">
        <constructor-arg ref="minerGroupDAO"/>
    </bean>

    <bean id="orderService" class="com.core.service.ServiceImpl.OrderServiceImpl">
        <constructor-arg ref="orderDAO"/>
    </bean>

    <bean id="stockService" class="com.core.service.ServiceImpl.StockServiceImpl">
        <constructor-arg ref="stockDAO"/>
    </bean>
</beans>
